/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia&display=swap');

:root{
    --light-gray:#2b3032a1;
    --primary-color:#47c1d1 ;
    --border: #2b303218;
    --text-color:#ff686b;
    --roboto:"Roboto", sans-serif;
    --gugi:"Gugi",cursive;
    --sofia:"Sofia",cursive;
}

body{
	overflow-x:hidden;
 }

.primary-color{
    color: var(--primary-color);
}

.bg-primary-color{
    background-color: var(--primary-color) !important;
}

.text-color{
    color:var(--text-color);
}

.font-roboto{
    font-family: var(--roboto);
}

.lightblue{
    color: lightblue;
}

header{
    background-color: var(--primary-color);
    font-family: var(--roboto); 
}

header .site-title{
    font-family: var(--gugi); 
}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: white;
}


/*---------header Complete----------*/

/*navbar*/

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--light-gray) !important;
}

.navbar-nav .nav-item .nav-link{
    padding: 0 1.3em;
}

.navbar-nav .basket-icon{
    margin-left: 0.5em !important;
    margin-right: 6.5rem !important;
}

/*slider one*/

.site-slider{
    position: relative;
}

.postion-top{
    position: absolute;
    top: 45%;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    background-color: var(--primary-color);
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity: 1;
}

.right-0{
    right:0;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type:none ;
    position:absolute;
    bottom: 0;
    right: 50%;

}

.slick-dots li{
    margin 100 5rem;

}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{

    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.205);
}


/*slide box*/
body {
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #000; 
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
    
    width: 100%;
}
.carousel-inner{
    width: 100%;
}
.carousel .carousel-item {
    min-height: 330px;
    
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item .img-box {
	height: 400px;
	width: 100%;
	position: relative;
}


.carousel .carousel-item .btn {
	color: #333;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
.carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
	color: black;
	background: var(--primary-color);
	border-color: var(--primary-color);
	box-shadow: none;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
/* .carousel-control-prev, .carousel-control-next {
	/* height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2); */

.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -220px;
}
.carousel-control-next i {
	margin-right: -200px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}	
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }

  /*connect section*/

  .social a{
	  font-size: 4em;
	  padding: 3rem;

  }

  .fa-facebook{
	  color: #3b5998;
  }

.fa-twitter{
	color: #00aced;
}

.fa-google-plus{
	color: #dd4b39;
}

.fa-instagram{
	color: #9337af ;
}

.fa-youtube{
	color:#bb0000;
}

footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding: 2rem;

}

hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
	
}

hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: .8rem;
	margin-bottom: 1rem;
	
}

hr.light-10{
	border-top: 1px solid white
}